<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Roadmap</title>
</head>

<body>
<div role="document-body">
<ol class="roadmap-list">
  <li>
    <h4>Socket refresh</h4>
    <div>
      <strong>Dependencies</strong>
      <div class="dependencies">
        Content Socket Refresh, Assets Socket Refresh
      </div>
    </div>
    <div class="description">
      Most of the code related to socket refresh was commented. It should be uncommented.
      Part of the code should be complemented and improved.
    </div>
    <div class="meta">
      Estimated time needed: <span class="etn">3h</span><br />
      Status: <span class="status">open</span><br />
      Look at: <span class="look">lib/socket/</span>
    </div>
  </li>
  <li>
    <h4>Socket refresh</h4>
    <div>
      <strong>Dependencies</strong>
      <div class="dependencies">
        Content Socket Refresh, Assets Socket Refresh
      </div>
    </div>
    <div class="description">
      Most of the code related to socket refresh was commented. It should be uncommented.
      Part of the code should be complemented and improved.
    </div>
    <div class="meta">
      Estimated time needed: <span class="etn">3h</span><br />
      Status: <span class="status">open</span><br />
      Look at: <span class="look">lib/socket/</span>
    </div>
  </li>
  
  <li>
    <h4>Content socket refresh</h4>
    <div>
      <strong>Dependencies</strong>
	    <div class="dependencies">
	      Watcher
	    </div>
    </div>
    <div class="description">
      Most of the code related to socket refresh was commented. It should be uncommented.
      Part of the code should be complemented and improved.
    </div>
    
    <div class="meta">
      Estimated time needed: <span class="etn">3h</span><br />
      Status: <span class="status">open</span><br />
      Look at: <span class="look">lib/socket/, lib/contentEntry.js, lib/common/</span>
    </div>
  </li>
  
  <li>
    <h4>Assets socket refresh</h4>
    <div>
      <strong>Dependencies</strong>
	    <div class="dependencies">
	      Watcher
	    </div>
    </div>
    <div class="description">
      The code for the assets refresh should be improved and extend to all kind of assets.
    </div>
    <div class="meta">
      Estimated time needed: <span class="etn">3h</span><br />
      Status: <span class="status">open</span><br />
      Look at: <span class="look">lib/socket/, lib/contentEntry.js, lib/common/</span>
    </div>
  </li>
  
  <li>
    <h4>Watcher</h4>
     <div class="description">
      The assets and content need to be watched to provide real time actualization.
      Of course it should be flexible.
    </div>
    <div class="meta">
      Estimated time needed: <span class="etn">5h</span><br />
      Status: <span class="status">open</span><br />
      Look at: <span class="look">lib/</span>
    </div>
  </li>
  
  <li>
    <h4>Queue</h4>
     <div class="description">
      The assets and content need to be watched to provide real time actualization.
    </div>
    <div class="meta">
      Estimated time needed: <span class="etn">5h</span><br />
      Status: <span class="status">open</span><br />
      Look at: <span class="look">lib/</span>
    </div>
  </li>
  
  <li>
    <h4>Logging</h4>
    <div class="description">
      That thing needs logging. Back & Frontend
    </div>
    <div class="meta">
      Estimated time needed: <span class="etn">5h</span><br />
      Status: <span class="status">open</span><br />
      Look at: <span class="look">lib/</span>
    </div>
  </li>
  
  <li>
    <h4>General look and feel</h4>
    <div class="description">
      Improve the CSS, make general improvements in design.
    </div>
    <div class="meta">
      Estimated time needed: <span class="etn">5h</span><br />
      Status: <span class="status">open</span><br />
      Look at: <span class="look">lib/</span>
    </div>
  </li>
  
  <li>
    <h4>Documentation</h4>
    <div>
      <strong>Dependencies</strong>
      <div class="dependencies">
        Rewrite
      </div>
    </div>
    <div class="meta">
      Estimated time needed: <span class="etn">12h</span><br />
      Status: <span class="status">open</span><br />
    </div>
  </li>
  
  <li>
    <h4>CI</h4>
    <div>
      <strong>Dependencies</strong>
      <div class="dependencies">
        Rewrite
      </div>
    </div>
    <div class="description">
      Try to use TravisCI.
    </div>
    <div class="meta">
      Estimated time needed: <span class="etn">8h</span><br />
      Status: <span class="status">open</span><br />
      Look at: <span class="look">*</span>
    </div>
  </li>
  
  <li>
    <h4>Rewrite</h4>
    <div>
      <strong>Dependencies</strong>
      <div class="dependencies">
        General look and feel, Queue, Logging, Watcher
      </div>
    </div>
    <div class="description">
      The code as it is at the moment is a draft and needs to be almost completely rewritten for clarity.
    </div>
    <div class="meta">
      Estimated time needed: <span class="etn">24h</span><br />
      Status: <span class="status">open</span><br />
      Look at: <span class="look">*</span>
    </div>
  </li>
  
</ol>
</div>

<script type="text/kern-javascript" class="kern-script" id="kern-roadmap">
alert('Hello docs');
</script>

<script type="text/template" class="kern-template" id="kern-roadmap-list-template">
<ol class="roadmap-list"><% _.each(items, function(item, name){ %>
  <li id="roadmap-<%= name %>">
    <h4><%= item.title %></h4>
    <div>
      <strong>Dependencies</strong>
      <div class="dependencies">
        <%= item.dependencies %>
      </div>
    </div>
    <div class="description">
      <%= item.description %>
    </div>
    <div class="meta">
      Estimated time needed: <span class="etn"><%= item.etn %></span><% if (item.dependenciesEtn) { %> <span class="dependencies-etn"><%= item.dependenciesEtn %></span><% } %><br />
      Status: <span class="status"><%= item.status %></span>
      <% if (item.look) { %><br />Look at: <span class="look"><% _.each(item.look, function(path) { %>
        <a href="#-<%= path %>"><%= path %></a>
      <% }); %></span><% } %>
    </div>
  </li>
<% }); %></ol>
</script>

</body>
</html>